<ion-content>

  <ion-header>
    <ion-toolbar class="new-background-color">
      <ion-buttons slot="start">
        <ion-button color="light">
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>

      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button color="light">

          <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
        </ion-button>
      </ion-buttons>

    </ion-toolbar>
  </ion-header>

  <div class="card">

    <ion-item class="card" style="border: none; box-shadow:none" lines=“none”>
      <ion-avatar item-start style="margin-left: 16px;margin-right:16px">
        <img src="assets/icon/favicon.png">
      </ion-avatar>
      <ion-label>Pokémon Yellow <br> <small>hello moto</small></ion-label>

    </ion-item>



  </div>

  <div class="hello"></div>
  <div style="padding-left: 16px;padding-right:16px" class="card">

    <ion-card class="welcome-card" style="z-index: 10001;background:#fff">
      <!-- <img src="/assets/shapes.svg" alt="" /> -->
      <ion-card-header style="border-bottom:1px solid #eee">
        <ion-card-subtitle style="font-weight: 500; font-size:1.1em">My Balance <span
            style="float: right;font-weight: 800;">Rp 1,000.00
          </span></ion-card-subtitle>

      </ion-card-header>

      <ion-card-content>
        <ion-grid class="ion-grid">
          <ion-row>

            <ion-col col-3>

              <div align="center">
                <img src="assets/icon/favicon.png" alt="">
                <h6>Send</h6>
              </div>

            </ion-col>

            <ion-col col-3>

              <div align="center">
                <img src="assets/icon/favicon.png" alt="">
                <h6>Pay</h6>
              </div>

            </ion-col>

            <ion-col col-3>

              <div align="center">
                <img src="assets/icon/favicon.png" alt="">
                <h6>Top Up</h6>
              </div>

            </ion-col>

            <ion-col col-3>

              <div align="center">
                <img src="assets/icon/favicon.png" alt="">
                <h6>Request</h6>
              </div>

            </ion-col>

          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>


  <ion-grid class="ion-grid">
    <ion-row>

      <ion-col col-4 class="col-4">

        <ion-list lines="none">

          <ion-item>
            <img slot="start" width="15%" style="margin-right: 10px" src="assets/icon/favicon.png">
            <ion-label class="label-item">E shopping</ion-label>
          </ion-item>

          <ion-item>
            <img slot="start" width="15%" style="margin-right: 10px" src="assets/icon/favicon.png">
            <ion-label class="label-item">Charity</ion-label>
          </ion-item>
          <ion-item>
            <img slot="start" width="15%" style="margin-right: 10px" src="assets/icon/favicon.png">
            <ion-label class="label-item">Split bills</ion-label>
          </ion-item>

        </ion-list>

      </ion-col>

      <ion-col col-4 class="col-4">

        <ion-list lines="none">

          <ion-item>
            <img slot="start" width="15%" style="margin-right: 10px" src="assets/icon/favicon.png">
            <ion-label class="label-item">E shopping</ion-label>
          </ion-item>

          <ion-item>
            <img slot="start" width="15%" style="margin-right: 10px" src="assets/icon/favicon.png">
            <ion-label class="label-item">Charity</ion-label>
          </ion-item>
          <ion-item>

            <img slot="start" width="15%" style="margin-right: 10px" src="assets/icon/favicon.png">


            <ion-label class="label-item">Split bills</ion-label>
          </ion-item>

        </ion-list>

      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list lines="none" style="padding-left: 16px;padding-right:16px">

    <ion-item>
      <ion-icon slot="end" color="medium" name="arrow-dropright"></ion-icon>
      <ion-label>E shopping</ion-label>
    </ion-item>

    <div>
      <ion-card>
        <ion-slides [options]="slideOptsTop" class="card">
          <ion-slide class="card">
            <ion-card class="ion-text-start card">
              <ion-item class="ion-item">
                <ion-avatar item-start style="margin-left: 5px;margin-right:5px">
                  <img src="assets/icon/favicon.png">
                </ion-avatar>
                <ion-label text-center class="text">Savings Account <br> <small>Save up to 18% interest</small>
                </ion-label>

              </ion-item>
            </ion-card>
          </ion-slide>
          <ion-slide class="card">
            <ion-card class="ion-text-start card">
              <ion-item class="ion-item">
                <ion-avatar item-start style="margin-left: 5px;margin-right:5px">
                  <img src="assets/icon/favicon.png">
                </ion-avatar>
                <ion-label text-center class="text">Savings Account <br> <small>Save up to 18% interest</small>
                </ion-label>

              </ion-item>
            </ion-card>
          </ion-slide>
          <ion-slide class="card">
            <ion-card class="ion-text-start card">
              <ion-item class="ion-item">
                <ion-avatar item-start style="margin-left: 5px;margin-right:5px">
                  <img src="assets/icon/favicon.png">
                </ion-avatar>
                <ion-label text-center class="text">Savings Account <br> <small>Save up to 18% interest</small>
                </ion-label>

              </ion-item>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </ion-card>
    </div>


  </ion-list>


</ion-content>